# Module1

In [ ]:
#1.write a python program to sum of the first n positive integers
def sum_of_n(n):
  return(n*(n+1))//2

In [ ]:
sum_of_n(100)

5050

In [ ]:
# n = int(input("enter the value of n:"))
# return(n*(n+1))//2
# print("sum of all integers from 1 to n is")

enter the value of n:5

SyntaxError: ignored

In [ ]:
#2.`write a python program to count occurrences of a substring in a string

s = "prachi chauhan"

In [ ]:
s.count("a")

3

In [ ]:
s.split?

In [ ]:
#3.write a python program to count the occurrences of each word in a given sentence

def count_words(sentence):
    words = sentence.split()
    return Counter(words)


count_words("The quick brown fox jumps over the lazy dog.")

Counter({'The': 1,
         'quick': 1,
         'brown': 1,
         'fox': 1,
         'jumps': 1,
         'over': 1,
         'the': 1,
         'lazy': 1,
         'dog.': 1})

In [ ]:

count_words("The quick brown dog fox jumps over the lazy dog .")

Counter({'The': 1,
         'quick': 1,
         'brown': 1,
         'dog': 2,
         'fox': 1,
         'jumps': 1,
         'over': 1,
         'the': 1,
         'lazy': 1,
         '.': 1})

In [ ]:
#4.write a python program to get a single string from two given string ,separated by a space and swap the first two character of each string

def sawp_strings(string1 , string2):
    new_string = string1 + " " + string2
   
   
    new_string = string2[ :2] + string1[2: ] + " " + string1[ :2] + string2[2: ]
    return new_string
swap_strings("hello","world")

'wollo herld'

In [ ]:
#5.write a python program to  add 'ing' at the end of a given string(length should be at least 3)if the given string alredy ends with 'ing' then string of 
#then add 'ly' instead if the string length of the given string is less then 3,leave it unchanged

In [ ]:
#6
def add_string(str1):
    length = len(str1)
    
    if length > 2:
        if str1[-3:] == 'ing':
            str1 += 'ly'
        else:
            str1 += 'ing'
    return str1

string = input("Enter a string: ")
print("Modified string: " + add_string(string))

Enter a string: party
Modified string: partying

In [ ]:
#7
def gcd(a, b):
    while b:
        a, b = b, a % b
    return a

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

print("The GCD of", num1, "and", num2, "is", gcd(num1, num2))

Enter first number: 6
Enter second number: 5
The GCD of 6 and 5 is 1

In [ ]:
#8. write a python program to check whether a list contains a sublist

lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]
sublst = [4, 5, 6]
def contains_sublist(lst, sublst):
    n = len(sublst)
    return any(sublst == lst[i:i+n] 
               for i in range(len(lst)-n+1))

contains_sublist(lst, sublst)

True

In [ ]:
#9.write a python program to find the second smallest number in a list

lst = [5,9,8,7,3,5,0,4,0]
def second_smallest(number):
  number.sort()
  return number[2]

second_smallest(lst)

3

In [ ]:
lst1 = [50, 47, 49,11,55,99,10,56,28,48]

def six_smallest(number):
  number.sort()
  return number[1]

six_smallest(lst1)

11

In [ ]:
#10. write the python program to get unique values from a list

input_list = [1, 2, 3, 4, 4, 5, 6, 6, 7]

def get_unique_values(input_list):
    return list(set(input_list))

get_unique_values(input_list)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#11.write the python program to unzip a list of tuple into individual lists

input_list = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

def unzip(input_list):
    return zip(*input_list)

x, y, z = unzip(input_list)
print(x)
print(y)
print(z)

(1, 4, 7)
(2, 5, 8)
(3, 6, 9)

In [ ]:
#12.write a python program to covert a list of tuple into a dictionary

lst = [1,2,3,4,6,9,8,7]
t = tuple(lst)
t
d = {t}
d

{(1, 2, 3, 4, 6, 9, 8, 7)}

In [ ]:
#13. write the python program to sort  a dictionary ascending/decending by value

d = {'a': 10, 'b': 5, 'c': 30}

print("Ascending Order:", sort_dict_by_value(d))
# Output: Ascending Order: {'b': 5, 'a': 10, 'c': 30}

print("Descending Order:", sort_dict_by_value(d, "descending"))
# Output: Descending Order: {'c': 30, 'a': 10, 'b': 5}

NameError: ignored

In [ ]:
#14.write the python program to find the highest 3 values in a dictionary

lst2 = [1,8,9,7,6,5,2,10]
def highest_3_values(lst2):
  lst2.sort(reverse=True)
  return lst2[ :3]

highest_3_values(lst2)

[10, 9, 8]

In [ ]:
d = {"a" : 1, "b": 2, "c":4, "d":5, "e":6, "f":7}
def highest_3_values(d.values):
  d.values.sort(reverse=True)
  return d.values[ :3]

highest_3_values(d.values)

SyntaxError: ignored

In [ ]:
#15given a number n, write a python program to make and print the list of fibonacci series up to n.

num = int(input("Enter the counts"))

a = 0 
b = 1 

print(a)
print(b)

for i in range(2 , num):
  c = a + b
  print(c)
  a = b
  b = c

Enter the counts8
0
1
1
2
3
5
8
13

In [ ]:
#16counting the frequencies in a list using  a dictionary in python

lst = [1,1,1,5,5,3,1,3,3,1,4,4,4,2,2,2,2]
def count_frequencies(lst):
    frequency = {}
    for item in lst:
        if item in frequency:
            frequency[item] += 1
        else:
            frequency[item] = 1
    return frequency

count_frequencies(lst)

{1: 5, 5: 2, 3: 3, 4: 3, 2: 4}

In [ ]:
#17.write a python program using function to find the sum of add series and even series 
# odd series: 12/1! + 32/3! + 52/5! +.......n
# even series : 22/2! +42/2! + 62/6!......n

def sum_series(n):
    odd_sum = n ** 2
    even_sum = n * (n + 1)
    return odd_sum, even_sum

n = int(input("Enter a positive integer n: "))
odd_sum, even_sum = sum_series(n)
print("The sum of the odd series is", odd_sum)
print("The sum of the even series is", even_sum)

Enter a positive integer n: 2
The sum of the odd series is 4
The sum of the even series is 6

In [ ]:
#18.python program to find the factorial number using recursion

def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n-1)

factorial(6)

720

In [ ]:
#19.write a python function that takes a list and return a new list with unique element of the first list.

def unique_list(lst):
    return list(set(lst))
lst = [1, 2, 3, 4, 2, 1, 3]
unique_list(lst)
[1, 2, 3, 4]

[1, 2, 3, 4]